
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(128, 250, 57);
    padding: 20px;
    font-size: 32px;
    color: rgb(65, 184, 42);
}

section {
	background: rgb(123, 156, 5);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
